{% extends 'history/base.html' %}
{% block title %}About - Rating Rivals{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>About Rating Rivals</h1>
    <p>
        Rating Rivals is a tool inspired by the passion and competitiveness of disc golfers. We understand that many disc golfers spend a significant amount of time on the PDGA website, checking their peers' ratings to see how they stack up. This project aims to streamline that process and provide easy-to-comprehend, side-by-side comparisons of player ratings.
    </p>
    <p>
        The mission is to shorten the time it takes to evaluate your standings and to enhance the disc golfing experience by offering a tool that not only saves time but also offers valuable insights into your performance and that of your peers. Whether you're a casual player or a competitive athlete, Rating Rivals is designed to help you keep track of your progress and stay ahead of the game.
    </p>
    <p>
        Rating Rivals started as a personal tool, but after realizing how many others would be interested in using it, I decided to turn it into a web app. I have spent my personal time and money to bring this to the community. If you enjoy using Rating Rivals, please consider leaving me a tip by <a href="https://buymeacoffee.com/chadwoodard" target="_blank">buying a coffee</a>. I'm also interested in hearing your feedback. 
    </p>
    <p>Enjoy!<br>Chad <br>#236811</p>
</div>
{% endblock %}