{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}PDGA Player Comparator{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'history/css/styles.css' %}">
</head>
<body>
    {% block header %}
    <header class="bg-dark text-light py-3">
        <div class="container-fluid">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    <h1 class="mr-3"><a href="{% url 'index' %}" class="text-light text-decoration-none">Rating Rivals</a></h1>
                    <p class="lead mb-0">Compete. Compare. Repeat.</p>
                </div>
                <div class="bmc-button-container">
                    <a href="https://buymeacoffee.com/chadwoodard" target="_blank">
                        <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="chadwoodard" data-color="#FFDD00" data-emoji=""  data-font="Cookie" data-text="Buy me a coffee" data-outline-color="#000000" data-font-color="#000000" data-coffee-color="#ffffff" ></script>
                    </a>
                </div>
            </div>
        </div>
    </header>
    {% endblock %}
    
    {% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'faq' %}">FAQ</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="#">Report Problem</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li> -->
                </ul>
            </div>
        </div>
    </nav>
    {% endblock %}

    <div class="container mt-4">
        {% block content %}{% endblock %}
    </div>
    
    {% include 'history/footer.html' %}
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tablesort/5.2.1/tablesort.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tablesort/5.2.1/sorts/tablesort.number.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const table = document.getElementById('player-details-table');
            const tablesort = new Tablesort(table);

            table.addEventListener('tablesort:complete', function (e) {
                const ths = table.querySelectorAll('th');
                ths.forEach(th => th.classList.remove('sort-asc', 'sort-desc'));
                const sortedTh = ths[e.detail.column];
                sortedTh.classList.add(e.detail.direction === 'asc' ? 'sort-asc' : 'sort-desc');
            });

            const currentRatingHeader = table.querySelector('th:nth-child(5)');
            Tablesort.sortTable(currentRatingHeader, 'desc');
        });
    </script>
    {% block extra_scripts %}{% endblock %}
</body>
</html>
