{% load static %}
{% load custom_filters %}

<div class="footer mt-5 py-3 bg-dark text-light">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>Player data © {% current_year %} PDGA</p>
            </div>
            <div class="col-md-6 text-md-right">
                <p>
                    <a href="https://www.pdga.com" class="text-light">PDGA Official Website</a>
                </p>
            </div>
            <div class="col-12 text-center mt-3">
                <p>
                    <strong>Disclaimer:</strong> This project is not affiliated with or endorsed by the PDGA.
                    <br>This tool is meant to be used solely as a data visualizer and does not store, manipulate, sell, or distribute PDGA data about players.
                </p>
            </div>
        </div>
    </div>
</div>