{% extends 'history/base.html' %}
{% load custom_filters %}
{% load bootstrap4 %}
{% load static %}

{% block title %}Rating Rivals{% endblock %}

{% block content %}
    <form method="post" class="mb-4" id="player-data-form">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary">Get Player Data</button>
    </form>
    <div id="loading-message" class="alert alert-info" style="display: none;">
        Retrieving player data, please wait...
    </div>
    {% if error_messages %}
        <div class="alert alert-danger">
            {% for message in error_messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
    {% if players_data %}
        <h2 class="my-4">Player Summary</h2>
        <div class="table-responsive">
            <table class="table table-bordered table-striped" id="player-details-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>PDGA#</th>
                        <th data-sort-default="desc">Current Rating</th>
                        <th>Career Events</th>
                        <th>Career Wins</th>
                        <th>Classification</th>
                        <th>Membership Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for player in players_data %}
                    <tr>
                        <td><a href="https://www.pdga.com/player/{{ player.player_number }}" target="_blank">{{ player.player_info }}</a></td>
                        <td data-sort="{{ player.player_number }}">{{ player.player_number }}</td>
                        <td data-sort="{{ player|get_item:'Current_Rating'|default_if_none:'0' }}">{{ player|get_item:'Current_Rating'|default_if_none:"N/A" }}</td>
                        <td>{{ player|get_item:'Career_Events'|default_if_none:"N/A" }}</td>
                        <td>{{ player|get_item:'Career_Wins'|default_if_none:"N/A" }}</td>
                        <td>{{ player|get_item:'Classification'|default_if_none:"N/A" }}</td>
                        <td>{{ player|get_item:'Membership_Status'|default_if_none:"N/A" }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
    {% if plot_url %}
        <h2 class="my-4">Player Ratings Over Time</h2>
        <img src="data:image/png;base64,{{ plot_url }}" alt="Player Ratings Over Time" class="img-fluid mb-4">
    {% endif %}
    {% if consolidated_data %}
        <h2 class="my-4">Player Ratings History</h2>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Date</th>
                        {% for player_id, player_info in active_player_info_dict.items %}
                            <th>
                                <a href="https://www.pdga.com/player/{{ player_id }}" target="_blank">
                                    {{ player_info }}
                                </a>
                            </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for date, data in consolidated_data %}
                    <tr>
                        <td>{{ data.date }}</td>
                        {% for player_id in active_player_info_dict.keys %}
                            <td>{{ data|get_item:player_id|default_if_none:"" }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
    <script>
        document.getElementById('player-data-form').addEventListener('submit', function() {
            document.getElementById('loading-message').style.display = 'block';
        });

        document.addEventListener('DOMContentLoaded', function () {
            const table = document.getElementById('player-details-table');
            if (table) {
                const tablesort = new Tablesort(table);

                table.addEventListener('tablesort:complete', function (e) {
                    const ths = table.querySelectorAll('th');
                    ths.forEach(th => th.classList.remove('sort-asc', 'sort-desc'));
                    const sortedTh = ths[e.detail.column];
                    sortedTh.classList.add(e.detail.direction === 'asc' ? 'sort-asc' : 'sort-desc');
                });

                const currentRatingHeader = table.querySelector('th:nth-child(3)');
                if (currentRatingHeader) {
                    tablesort.sortTable(currentRatingHeader, 'desc');
                }
            }
        });
    </script>
{% endblock %}
